<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
</head>
<body>
    <h1>Add a Todo Item</h1>
    <!--add is the add url that going to submit the form to-->
    <form method="POST" action="add">
        {% csrf_token %}
        <!-- as_p = vertical layout; as_table = tablet layout-->
        {{ form.as_p }}
        <div>
            <p>
                <button type="submit">Add Item</button>
            </p>
        </div>
    </form>
</body>
</html>